
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not compatible for mobile browsers</title>
</head>
<body>
    <div>
        <h1>Apologies!!</h1>
        <h2>n!Eto is not compatible for mobile browsers.</h2>
        <h3>Mobile specefic application coming soon..!</h3>
    </div>
</body>
</html>
