<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <!--Scylla-->
    <add name="EtoConnectionString" connectionString="Data Source=SCYLLA;Initial Catalog=Eto002 ;uid=sa;pwd=sa" providerName="System.Data.SqlClient" />

    <!--Remote-->
    <!--<add name="EtoConnectionString" connectionString="Data Source=120.138.8.94;Initial Catalog=SWETANK_Eto ;uid=SWETANK_admin;pwd=Eto@2016" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
   <add key="SignalRConnectionURL" value="false" />
    <add key="TimeZoneId" value="India Standard Time" />
  </appSettings>
</configuration>